Makefile
Makefile.in
*.o
*.gmo
/aclocal.m4
/autom4te.cache/
/config.*
/configure
depcomp
/m4/
missing
/stamp-h?
.deps/
.dirstamp
compile
install-sh
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
po/wbar.pot
/etc/wbar.cfg
/etc/wbar.desktop
/etc/wbar.desktop.in
/src/wbar
/src/wbar-config
